input, button {
    outline: none !important;
}

h4{
    font-family: 'SF Pro Display Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 14.5px;
    line-height: 17px;
    text-align: left;
    letter-spacing: 0.1em;
    color: #000000;
}

p {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.05em;
    color: #000000;
}

li {
    list-style: none;
}

label {
    letter-spacing: 0.1em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #000000;
    display: block;
    width: 100%;
    padding-bottom: 0px;
    padding-top: 20px;
}

button, button:focus, button:active {
    outline: none !important;
}

button, a {
    font-family: 'SF Pro Display';
    font-style: normal ;
    font-weight: bold ;
    font-size: 13px;
    /* line-height: 16px !important; */
    /* identical to box height */

    /* display: flex !important; */
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em !important;
    font-feature-settings: 'pnum' on, 'lnum' on !important;

    color: #FFFFFF;
    border-radius: 0px !important;
}

img {
    width: 100%;
}


    
.bg-light{
    background-color: #000000 !important;
}

.btn {
    border: 2px solid transparent;
    font-size: 13px !important;
    font-weight: bold;
}

@media (min-width: 320px) and (max-width: 768px) { 
    .btn {
        line-height: 2 !important;
        font-size: 11px !important;
    }
}

@media (min-width: 1024px) and (max-width: 1920px) { 
    .navbar-brand{
        margin-right: 122px;
        margin-left: 42px;
    }
}


.navbar-brand{
    text-transform: uppercase;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: bold;
    font-size: 15.5px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #FFFEFE !important;
}

.navbar-nav{
    width: 100%;
}

.navbar-light .navbar-nav .nav-link, 
.navbar-light .navbar-nav .nav-link.active,
.nav-link:hover{
    color:#FFFFFF !important;    
}

.navbar-nav .nav-link {
    text-transform: uppercase;
}

.navbar {
    height: 47px;
}

@media (min-width: 1024px) and (max-width: 1920px) { 
    .navbar-light .navbar-nav .nav-link {
        width: 100px;
    }
}

@media (min-width: 320px) and (max-width: 768px) {
    .navbar {
        padding-left: 20px;
        padding-right: 16px;
        flex-wrap: inherit;
        height: 47px;
    }
    
    .navbar-toggler {
        padding: 0 !important;
    }
    
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
       
    .navbar-light .navbar-toggler-icon {
        width: 24px;
        height: 16px;
        background-image: url('../image/menu-hover.svg');
    }
    
    .navbar-light .navbar-toggler-icon:hover {
        background-image: url('../image/menu.svg');
    }
    
    .navbar-collapse{
        position: absolute;
        top: 100%;
        background-color: #000000;
        width: 43%;
        text-align: right;
        right: 0%;
    }
    
    .navbar-light .navbar-nav .nav-link, 
    .navbar-light .navbar-nav .nav-link.active,
    .nav-link:hover{
        color:#FFFFFF;    
    }
    
    .nav-item:first-child {
        border-top: 1px solid #FFFFFF;
    }

    .nav-item:last-child {
        border-top: 0px solid #FFFFFF;
    }
    
    .nav-item {
        padding: 0;
        border-bottom: 1px solid #FFFFFF;
        /* text-transform: uppercase; */
        font-family: 'SF Pro Display';
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 14px;
        text-align: right;
        letter-spacing: 0.05em;
        color: #FFFEFE;
        text-align: right;
    }
    
    .nav-link {
        padding-right: 18px !important;
        text-align: right;
    }
}

@media (min-width: 1024px) and (max-width: 1920px) { 
    .nav-item { 
        padding-right: 32px;
    }
}


/* .nav-item {
    padding: 0;
    border-bottom: 1px solid #FFFFFF;
    text-transform: uppercase;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #FFFEFE;
} */


.form {
    padding-left: 60px;
    padding-right: 60px;
}

@media (min-width: 1024px) and (max-width: 1920px) { 
    .form{
        padding-left: 276px;
        padding-right: 276px;
    }
}


.form-control:focus {
    color: #000000;
    background-color: #FFFFFF !important;
    border-color: #bfbfbf !important;
    outline: 0 !important;
    box-shadow: 0 0 0 0.2rem rgb(0 0 0 / 50%) !important;
}

.form-control {
    font-family: 'SF Pro Display';
    background: #FFFFFF;
    border: 0.25px solid #bfbfbf;
    border-radius: 2px;
    width: 100%;
    height: 36px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.form-group {
    margin-bottom: 0px;
}

.form-group label {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
}

.btn-block+.btn-block {
    margin: 0 !important;
}

.btn-primary:active, .btn-primary:hover {
    color: #000000 !important;
    background-color: #FFFEFE !important;
    border-color: #FFFEFE !important;
    outline: 0 !important;
    box-shadow: none !important;
    border: 2px solid #808080 !important;
}

.btn-primary {
    border-color: #000000;
    height: 36px;
    background: #000000;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-active {
    color: #000000 !important;
    background-color: #FFFEFE !important;
    border-color: #FFFEFE !important;
    outline: 0 !important;
    box-shadow: none !important;
    border: 2px solid #808080 !important;
}

@media (min-width: 1024px) and (max-width: 1920px) { 
    .btn-form{
        width: 256px;
    }
    
}


.btn-form{
    padding-top: 30px;
}

.info-product{
    padding-top: 75px;
}

.info-product h4{
    text-align: center;
}

@media (min-width: 540px) and (max-width: 1920px) { 
    .info-product h4{
        text-align: left;
    }
}




.info-contact {
    padding-top: 176px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 176px;
}

.info-contact p {
    font-family: 'SF Pro Display';
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #000000;
    font-feature-settings: 'pnum' on, 'lnum' on;
    letter-spacing: 0.05em;
}

.info-contact h4 {
    text-align: center;
}




.info {
    padding-top: 93px;
    padding-left: 60px;
    padding-right: 60px;
}


@media (min-width: 1024px) and (max-width: 1920px) { 
    .info {
        padding-left: 276px;
        padding-right: 276px;
    }
}

.info h4 {
    padding-bottom: 13px;
}

.info p {
    font-family: 'SF Pro Display';
    font-size: 14px;
    line-height: 17px;
    text-align: left;
    color: #000000;
    font-feature-settings: 'pnum' on, 'lnum' on;
    letter-spacing: 0.05em;
}

.info .description p{
    font-style: normal;
    font-size: 14px;
    line-height: 25px;
    text-align: justify;
}

.info .description-nosotros p{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    text-align: justify;
}

.footer{
    padding-top: 80px;
    height: 164px;
    background: transparent;
}

.menu-item:nth-child(1) {
    padding-left: 0px;
}

.menu-item:nth-child(3) {
    padding-right: 0px;
}


.menu-item{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    /* identical to box height */
    
    letter-spacing: 0.05em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    
    color: #000000;
    display: inline-block;
    padding-left: 21px;
    /* width: 120px;
    text-align: center; */
}

.menu-item span {
    font-weight: normal;
}

.copyright .menu-item:nth-child(1) {
    padding-left: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.social-red{
    text-align: center;
    margin: 0;
    width: 100%;
    padding: 0;
    padding-top: 46px;
}

.social-red li{
    list-style: none;
    display: inline-block;
    padding-left: 12px;
    padding-right: 12px;
}

.footer{
    text-align: center;
    margin: 0 auto;
}

.footer .copyright{
    text-align: center;
}

.web_login_background_opacity {
    width: 100%;
    background-color: #000000;
    position: absolute;
    height: 100%;
    opacity: 0.4;
}

.container-fluid-product{
    padding-left: 22px !important; padding-right: 22px !important;
}

@media (min-width: 1024px) and (max-width: 1366px) { 
    .container-fluid-product{
        width: 70%;
    }
}

@media (min-width: 1366px) and (max-width: 1920px) { 
    .container-fluid-product{
        width: 50%;
    }
}


.lst-products{
    padding-top: 10px;
}

@media (min-width: 1024px) and (max-width: 1920px) { 
    .lst-products{
        padding-top: 25px;
    }
}


    .lst-products h2 {
        padding: 0px;
        margin: 0px;
        font-family: 'SF Pro Display';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.05em;
        font-feature-settings: 'pnum' on, 'lnum' on;
        padding-top: 24px;
    }

    @media (min-width: 1024px) and (max-width: 1920px) { 
        .lst-products h2 { 
            padding-top: 0.5em;
        }
    }


    .lst-products h2 span {
        font-style: normal;
        font-weight: 400;
    }

    .lst-products h3 {
        padding: 0px;
        margin: 0px;
        font-family: 'SF Pro Display Bold';
        font-style: normal;
        
        font-size: 16px;
        line-height: 19px;
        /* identical to box height */
        
        letter-spacing: 0.05em;
        font-feature-settings: 'pnum' on, 'lnum' on;
        
        color: #000000;
        padding-top: 6px;
       
    }

    .lst-products h5 {
        padding: 0px;
        margin: 0px;
        font-family: 'SF Pro Display';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.05em;
        font-feature-settings: 'pnum' on, 'lnum' on;
        
        color: #000000;
        padding-top: 8px;
        padding-bottom: 18px;
    }

    .lst-products .block-btns {
        display: flex;
        align-items: flex-end;
        width: 100%;
    }

    .lst-products .block-btns .btn-block:nth-child(1){
        margin-right: 10px;
    }


    
    .lst-products .block-product{
        padding-bottom: 60px;
    }

    
    @media (min-width: 1024px) and (max-width: 1920px) { 
        .lst-products .block-product{
           width: 100%;
           margin: 0 auto;
        }
    }

.detail-product h5 {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.05em;
    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #000000;
    text-transform: uppercase;
    padding: 0;
    padding-bottom: 5px;
}    

.detail-product p {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    
    color: #000000;
    padding: 0;
}    

.detail-product .entrega p{
    font-weight: 300;
    color: #4C9800;
    padding-top: 20px;
}

.detail-product .detalle p{
    font-weight: 200;
}

.detail-product .material p{
    font-weight: 300;
}

.detail-product .material p{
    font-weight: 300;
}

.detail-product .horario p{
    font-weight: 200;
}


.detail-product .tiempo p{
    font-weight: 200;
}

    .detail-product .tiempo p span{
        font-weight: 500;
    }


    .detail-product .medio-pago {
        padding-top: 60px;
    }    

        .detail-product .medio-pago img {
            width: 63px;
            height: 31px;
        }    

        .detail-product .medio-pago p {
            font-family: SF Pro Display;
            font-style: normal;
            font-weight: normal;
            font-size: 9px;
            line-height: 11px;
            /* identical to box height */
            
            letter-spacing: 0.05em;
            font-feature-settings: 'pnum' on, 'lnum' on;
            
            color: #000000;
        }  

    /* .detail-product .colores,  */

    .detail-product .tallas{
        padding-bottom: 23px;
        padding-top: 23px;
    }    

    .detail-product .colores{
        padding-bottom: 20px;
    }    

    .detail-product .colores, .detail-product .tallas {
        display: block;
    }

    .detail-product .colores ul, .detail-product .tallas ul{
        margin: 0;
        padding: 0;
    }

    .detail-product .colores ul li{
        padding-bottom: 5px;
    }

    /* .detail-product .colores ul li:last-child{
        padding-bottom: 20px;
    } */

        .detail-product .colores .color-content, .detail-product .tallas .talla-content{
            display: inline-block;
        }
            .detail-product .colores .color-content .color{
                width: 19px;
                height: 19px;
                background-color: #FFFFFF;
                border-radius: 100%;
                margin-right: 10px;
                display: inline-block;
                vertical-align: middle;
                cursor: pointer;
            }

            .detail-product .colores .color-content span{
                font-family: 'SF Pro Display';
                font-style: normal;
                font-weight: 300;
                font-size: 12px;
                line-height: 14px;
                letter-spacing: 0.05em;
                font-feature-settings: 'pnum' on, 'lnum' on;
                display: inline-block;
                color: #000000; 
                vertical-align: middle;
            }

            .detail-product .colores .color-content .color1{
                background-color: #200000;
            }
            .detail-product .colores .color-content .color2{
                background-color: #F7B304;
            }
            .detail-product .colores .color-content .color3{
                background-color: #F70404;
            }
            .detail-product .colores .color-content .color4{
                background-color: #FFC4C4;
            }
            .detail-product .colores .color-content .color5{
                background-color: #ACF9F4;
            }

    .detail-product .tallas ul li{
        /* padding-top: 13px;
        padding-bottom: 13px; */
        padding-right: 10px;
    }

    .detail-product .tallas ul li{
        display: inline-block;
    }
                    
    .detail-product .tallas .talla-content .talla{
        background-color: #FFFFFF;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        text-align: center;
        border: 0.5px solid #000000;
        font-family: 'SF Pro Display';
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 23px;
        letter-spacing: 0.05em;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: #000000;
        display: block;
        cursor: pointer;
    }

.logo-home{
    padding-left: 20px;
    padding-right: 20px;
    height: 47px;
    text-align: center;
    background-color: #000000;
    position: absolute;
    width: 100%;
}
    .logo-home .logo{
        text-transform: uppercase;
        font-family: 'SF Pro Display';
        font-style: normal;
        font-weight: bold;
        font-size: 15.5px;
        line-height: 18px;
        text-align: center;
        letter-spacing: 0.05em;
        color: #FFFEFE !important;
        text-align: center;
        vertical-align: middle;
        line-height: 47px;
    }

.home-section {
    z-index: 999;
    position: absolute;
    top: 27%;
    width: 100%;
}

    .home-content {
        width: 100%;
        text-align: center;
    }

        .home-title {
            width: 100%;
            text-align: center;
            font-family: 'SF Pro Display 300';
            font-style: normal;
            font-weight: 300;
            font-size: 30px;
            line-height: 36px;
            letter-spacing: 0.05em;
            font-feature-settings: 'pnum' on, 'lnum' on;
            color: #FFFFFF;
            text-transform: uppercase;
        }

        .home-content .intro {
            display: inline-block;
            font-family: 'SF Pro Display';
            font-style: normal;
            font-weight: bold;
            font-size: 14.5px;
            line-height: 17px;
            text-align: center;
            letter-spacing: 0.05em;
            font-feature-settings: 'pnum' on, 'lnum' on;
            color: #FFFFFF;
        }

        @media (min-width: 1024px) and (max-width: 1920px) { 
            .home-content .intro:first-child {
                margin-right: 27px;
            }
    
            .home-content .intro:last-child {
                margin-left: 27px;
            }
        }
        


        .home-content .intro:first-child {
            margin-right: 15px;
        }

        .home-content .intro:last-child {
            margin-left: 15px;
        }

        .home-content p {
            padding: 0;
            margin: 0;
            font-family: 'SF Pro Display';
            font-style: normal;
            font-weight: bold;
            font-size: 14.5px;
            line-height: 17px;
            text-align: center;
            letter-spacing: 0.05em;
            font-feature-settings: 'pnum' on, 'lnum' on;
            color: #FFFFFF;
        }



        .home-content .intro .info span {
            font-weight: normal;
            font-family: 'SF Pro Display 300';
        }

        .home-content button, .home-content a{
            border: 0.7px solid #FFFFFF;
            box-sizing: border-box;
            filter: none !important;
            color: #FFFFFF;
            padding-top: 8px;
            padding-bottom: 8px;
            padding-left: 30px;
            padding-right: 30px;
        }

        .home-content button:hover{
            background-color: #FFFFFF;
            color: #000000;
        }

        .home-content button:hover, 
        .home-content button:focus{
            box-shadow: none !important;
        }
        

        .home-content .intro .info{
            font-family: 'SF Pro Display 700';
            font-style: normal;
            font-weight: 700;
            font-size: 14.5px;
            line-height: 17px;
            text-align: center;
            letter-spacing: 0.05em;
            font-feature-settings: 'pnum' on, 'lnum' on;
            color: #FFFFFF;
            padding-bottom: 20px;
            padding-top: 120px;
        }

        .home-content .intro .phrase{
            font-family: 'SF Pro Display 400';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
            text-align: center;
            letter-spacing: 0.05em;
            font-feature-settings: 'pnum' on, 'lnum' on;

            color: #FFFFFF;
            padding-top: 20px;
        }

.footer-home{
    text-align: center;
    margin: 0;
    position: absolute;
    bottom: 5%;
    width: 100%;
    color: #FFFFFF;
}

@media only screen and (max-width: 320px) {
    .home-section {
        top: 16%;
    }
    .footer-home {
        bottom: 35px;
    }
}


.footer-home .copyright{
    text-align: center;
    color: #FFFFFF;
}

.footer-home .social-red{
    text-align: center;
    margin: 0;
    width: 100%;
    padding: 0;
    padding-bottom: 16px;
}

.footer-home .social-red li{
    list-style: none;
    display: inline-block;
    padding-left: 12px;
    padding-right: 12px;
}

    .footer-home .rs {
        font-family: 'SF Pro Display';
        font-style: normal;
        font-weight: 700;
        font-size: 13px;
        line-height: 16px;
        letter-spacing: 0.05em;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: #fff;
        display: inline-block;
        text-transform: uppercase;
    }

    .footer-home .rs span {
        font-weight: 400;
        text-transform: capitalize;
    }

.active-button {
    color: #FFFFFF !important;
    background-color: #000000 !important;
}    

/* {
    display: grid;
    grid-template-columns: -webkit-min-content auto;
    grid-template-columns: min-content auto;
    grid-gap: 0.5em;
    font-size: 2.25rem;
    color: var(--color);
} */


/* .radio {
    display: grid;
    grid-template-columns: -webkit-min-content auto;
    grid-template-columns: min-content auto;
    grid-gap: 0.5em;
    font-size: 2.25rem;
    color: var(--color);
}

.radio__input {
    display: flex;
}


.radio__input input {
    opacity: 0;
    width: 0;
    height: 0;
    box-sizing: border-box;
    padding: 0;
}

.radio-before .radio__control {
    display: grid;
    place-items: center;
}

.radio__control{
    background-color: red;
    display: block;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    border: 0.1em solid currentColor;
    transform: translateY(-0.05em);
}

.radio-before input:checked + .radio__control::before {
    transform: scale(1);
}
.radio-beforet input + .radio__control::before {
    content: "";
    width: 0.5em;
    height: 0.5em;
    box-shadow: inset 0.5em 0.5em currentColor;
    border-radius: 50%;
    transition: 180ms transform ease-in-out;
    transform: scale(0);
} */

.radio {
    /* display: grid;
    grid-template-columns: min-content auto;
    grid-gap: 0.5em;
    font-size: 2.25rem;
    color: var(--color); */
    display: inline-block;
    /* width: 19px;
    height: 19px;
    background-color: #FFFFFF;
    border-radius: 100%;
    margin-right: 10px;
    display: inline-block; */
    vertical-align: middle;
    cursor: pointer;
    margin: 0;
    padding-top: 0px;
}
/* .radio:focus-within .radio__label {
    transform: scale(1.05);
    opacity: 1;
} */

/* .radio__label {
    line-height: 1;
    transition: 180ms all ease-in-out;
    opacity: 0.8;
} */
.radio__input {
    display: flex;
}
.radio__input input {
    opacity: 0;
    width: 0;
    height: 0;
}

.radio__input input:focus + .radio__control {
    /* box-shadow: 0 0 0 0.05em #fff, 0 0 0.15em 0.1em #000000; */
    border: 1px solid #000000;
    /* -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease; */
}

.radio-gradient input:checked + .radio__control {
    /* background: radial-gradient(#000000 50%, rgba(59, 46, 46, 0) 60%);
    border: 1px solid #000000; */
    background: url('../image/check-talla.svg');
    background-position: center;
    background-size: contain;
    border: 1px solid #000000;
}

.radio__control img {
    display: none;
}

/* .radio-gradient input:checked + .radio__control img  {
    display: none;
} */

.radio-before .radio__control {
    display: grid;
    place-items: center;
}
.radio-before input + .radio__control::before {
    content: "";
    width: 19px;
    height: 19px;
    box-shadow: inset 0.5em 0.5em #000000;
    border-radius: 50%;
    transition: 180ms transform ease-in-out;
    transform: scale(0);
}
.radio-before input:checked + .radio__control::before {
    transform: scale(1);
}
.radio__control {
    display: block;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    
    transform: translateY(-0.05em);
}


.radio__control1{
    background-color: #200000;
}
.radio__control2{
    background-color: #F7B304;
}
.radio__control3{
    background-color: #F70404;
}
.radio__control4{
    background-color: #FFC4C4;
}
.radio__control5{
    background-color: #ACF9F4;
}

/* [type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #F87DA9;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}


[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
} */