<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Index</title>
    <script type="text/javascript" src="https://cssrefresh.frebsite.nl/js/cssrefresh.js"></script>
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="./css/fonts.css">
    <link rel="stylesheet" href="./css/style.css">
    <script>
      (function() {
        var h, a, f;
        a = document.getElementsByTagName('link');
        for (h = 0; h < a.length; h++) {
            f = a[h];
            if (f.rel.toLowerCase().match(/stylesheet/) && f.href) {
            var g = f.href.replace(/(&|\?)rnd=\d+/, '');
            f.href = g + (g.match(/\?/) ? '&' : '?');
            f.href += 'rnd=' + (new Date().valueOf());
            }
        } // for
      })()   

    </script>
</head>
<div class="web_login_background_opacity"></div>
<body style="background-image: url('./images/fondo-1.jpg');background-repeat: no-repeat;width: 100%;background-size: cover;">
    <head class="header">
        <div class="logo-home">
          <a class="logo" href="#">Logotipo</a>
        </div>
    </head>
    <div class="container-fluid pr-0 pl-0 home-section">
        <div class="home-title">Bienvenidos</div>
        <div class="home-content">
          <div class="intro">
            <p class="info">MI PROPIO<br><span>NEGOCIO</span></p>
            <a class="btn" href="./products.html">ENTRAR</a>
            <p class="phrase">Descúbrelo</p>
          </div>
          <div class="intro">
            <p class="info">LO QUIERO<br><span>PARA MÍ</span></p>
            <a class="btn" href="./products.html">ENTRAR</a>
            <p class="phrase">Siéntete única</p>
          </div>
        </div>
    </div>
    <footer class="footer-home">
        <div>
          <ul class="social-red">
            <li><a href="#"><img src="./images/svgs/home-fb.svg"></a></li>
            <li><a href="#"><img src="./images/svgs/home-ig.svg"></a></li>
            <li><a href="#"><img src="./images/svgs/home-tik.svg"></a></li>
            <li><a href="#"><img src="./images/svgs/home-wp.svg"></a></li>
          </ul>
        </div>
        <div class="copyright">
            <a href="#" class="rs">MARCA <span>Copyright 2021</span></a>
        </div>
    </footer>
</body>
</html>